 /*1.基础重置：消除浏览器默认边 ，让高度组件更精准*/
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
 }

 body,html,#root{
    height:100%;
    font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;
 }

 /* 2.主布局：全屏显示，水平排列 */
 .editor-layout{
    display:flex;
    height:100vh;
    width:100vw;
    overflow:hidden;/* 防止页面滚动  */
 }

 /* 3.左侧物料区：深色系 */
 .left-panel{
    width:240px;
    background:#252526;
    color:#cccccc;
    padding:16px;
    border-right:1px solid #333;
    flex-shrink:0; /*禁止被压缩*/
 }

 /* 4.中间画布区：浅色系 */
 .canvas{
    flex:1;/*核心：占据所有剩余空间*/
    background:#f0f2f5;
    padding:40px;
    overflow-y:visible;/*允许垂直滚动*/
    display:flex;
    justify-content:center;/*水平居中*/
 }

 /* 画布内部纸张感 */
 .canvas-container{
    width:100%;
    max-width:800px;/*模拟一个网页的宽度*/
    background:#ffffff;
    min-height:100%;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    padding:20px;

 }

 /*5. 右侧属性面板：白色背景 */
.right-panel{
    width:300px;
    background:#ffffff;
    border-left:1px solid #e8e8e8;
    padding:16px;
    flex-shrink:0;

}

h3{
    font-size:14px;
    margin-bottom:16px;
    color:#666;
    text-transform:uppercase;
    letter-spacing:1px;
}